@font-face {
  font-family: my-font;
  src: url('/asset/font/Norse-Bold.otf');
}

:root {
  font-family: sans-serif;
  font-size: 1.25rem;
}

body {
  display: flex;
  margin:0;
}

#image-container{
  flex-shrink: 0;
  background-image: url('/asset/images/background.jpg');
  background-size: cover;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 30vw;
  margin:0;
}

#logo-container{
  background-color: rgba(0,0,0,0.5);
  height: 14.5vh;
  position: relative;
  top: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-container > img {
  height: 80%;
}

#image-container > #photo-credit {
  display: flex;
  justify-content: center;
  color: #eee;
  position: relative;
  top: 80vh;
  font-size: 1.6vh;
}

#photo-credit > p > a {
  text-decoration: underline;
  color: inherit;
}


#logo-container > p {
  font-family: my-font;
  font-size: 9vh;
  color: white;

}

h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem 3rem;
  padding-bottom: 0;
  background-color: #fff;
}

input {
  height: 2rem;
  width: 24rem;
  border-radius: 0.25rem;
  border: 2px solid #ddd;
  background-color: #fefefe;
}

label{
  display: block;
  letter-spacing: 0.2rem;
}


#sign-up{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9fafc;
}

#sign-up p{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3rem 3rem 2rem 3rem;
  padding: 0;

}

#sign-up p + p {
  margin-top: 0;
  margin-bottom: 3rem;
}

#input-container{
  background-color: #fff;
}

#input-container > div {
  display: flex;
  flex-wrap: wrap;
  width: 61rem;
  box-shadow: inset;
}

.each-input{
  margin: 1.5rem 3rem;
  margin-bottom: 0;
}

.each-input:last-child{
  margin-bottom: 3rem;
}

button {
  margin: 3rem;
  margin-bottom: 0;
  font-size: 1.25rem;
  padding: 1rem 3.5rem;
  background-color: #596d48;
  border: none;
  border-radius: 0.75rem;
  color: white;
  font-weight: 600;
}

#sign-up > #log-in {
  font-weight: 500;
}

#log-in > a {
  text-decoration: none;
  color: #596d48;
}


